.cart-product-container {
    .header-cart {
        i {
            color: greenyellow;
            font-size: 24px;
        }
        .header-cart-no-cart {
            position: absolute;
            top: 85%;
            right: 2px;
            width: 400px;
            height: 200px;
            border-radius: 2px;
            box-shadow: 0 2px 10px #ccc;
            background: #fff;
            margin-right: 150px;
            img {
                width: 60%;
                padding: 20px;
                position: absolute;
                left: 20%;
            }
        }
    }
}
